.text-link {
  width: fit-content;
  color: var(--yellow);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 4px 8px;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.text-link:hover {
  color: var(--copper);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 3px solid var(--yellow);
  outline-offset: 2px;
}

.text-link-border {
  position: relative;
  border: none;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.text-link-border:before,
.text-link-border:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  background: transparent;
  border: 4px solid transparent;
}

.text-link-border:before {
  top: -4px;
  left: -4px;
}

.text-link-border:after {
  bottom: -4px;
  right: -4px;
}

.text-link-border:hover:before {
  animation: animateBorder 150ms cubic-bezier(0.17, 0.67, 0, 0.85) forwards;
}
.text-link-border:hover:after {
  animation: animateBorder2 150ms cubic-bezier(0.17, 0.67, 0, 0.85) forwards
    150ms;
}

@keyframes animateBorder {
  0% {
    width: 0;
    height: 0;
    border-top-color: var(--copper);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: var(--copper);
    border-right-color: var(--copper);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: var(--copper);
    border-right-color: var(--copper);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

@keyframes animateBorder2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--copper);
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--copper);
    border-left-color: var(--copper);
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--copper);
    border-left-color: var(--copper);
  }
}
